<h1>About us</h1>


<div>

In this activity we are going to be implementing a new page on the web app. By doing so, we will get to tweak the routing as well as recall how to generate new controllers and views.


</div>